In [1]:
import pandas as pd
import numpy as np

In [7]:
import pickle

In [8]:
df=pickle.load(open('df.pkl','rb'))
pipe=pickle.load(open('pipe.pkl','rb'))

In [16]:
df['Selling_type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [11]:
df

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,Others,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,Others,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,Others,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,Others,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [13]:
df.describe()

              Year  Selling_Price  Present_Price     Driven_kms       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.642584   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [15]:
np.linspace(0.32,92.6,8)

array([ 0.32      , 13.50285714, 26.68571429, 39.86857143, 53.05142857,
       66.23428571, 79.41714286, 92.6       ])

In [49]:
query = np.array(['Others',2014,4.2,15155,'Petrol','Dealer','Manual',0])

In [50]:
query = query.reshape(1,8)

In [31]:
query

array([['Others', '2018', '5.2', '15155', 'Diesel', 'Dealer', 'Manual',
        '0']], dtype='<U32')

In [38]:
ls=['Others',2018,8.2,15155,'Diesel','Dealer','Manual',0]

In [36]:
ls

['Others', 2018, 5.2, 15155, 'Diesel', 'Dealer', 'Manual', 0]

In [51]:
pipe.predict(query)[0]

C:\Users\Shubh Pundir\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

3.387593301650622

In [28]:
pd.DataFrame(['Others',2018,5.2,15155,'Diesel','Dealer','Manual',0])

        0
0  Others
1    2018
2     5.2
3   15155
4  Diesel
5  Dealer
6  Manual
7       0

In [29]:
df.sample()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
204,Others,2015,2.75,4.43,28282,Petrol,Dealer,Manual,0